@import "../libs/sass/library";
@import "../libs/sass/poppins.scss";

.container {
  background: $card-linear-gradient;
  min-width: 15%;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  position: fixed;
  margin: 1rem;
  top: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  gap: 1rem;

  .socialMedias {
    display: flex;
  }

  b {
    color: $white;
    -webkit-text-stroke: 1px $contour;
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;

    @include poppins-bold-italic;
  }
}
