@import "../libs/sass/poppins";
@import "../libs/sass/library";

* {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  word-wrap: break-word;
  border: none;
  outline: none;
}

body {
  background-color: $secondary-color;
  height: 100vh;
  color: $white;

  @include poppins-regular;
}
