.container {
  display: flex;
}

.leftColumn {
  display: flex;
  flex-direction: column;
}

.cardLoginContainer {
  flex: 1;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
