@import "../libs/sass/library";
@import "../libs/sass/poppins.scss";

.textAreaContainer {
  background-color: $vibrant-green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  width: 50%;
  margin-top: 10.97rem;

  .textAreaWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    textarea {
      width: 100%;
      height: 20rem;
      padding: 1rem;
      border-radius: 1rem;
      resize: none;
      outline: none;
      @include poppins-regular;
    }

    .buttonContainer {
      margin-top: 1rem;
      margin-left: auto;
    }
  }
}

.standby {
  color: $white;
  background-color: $gray;
  font-size: 1.5rem;
  padding: 1rem;
  height: 3.5rem;
  border-radius: 9999999rem;
  cursor: not-allowed;
  scale: 0.85;
}

.active {
  color: $vibrant-green;
  background-color: $white;
  font-size: 1.5rem;
  padding: 1rem;
  height: 3.5rem;
  border-radius: 9999999rem;
  cursor: pointer;
  scale: 0.85;
}
